<!-- Navigation Component -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#home">
            <i class="fas fa-code"></i> Sophia Soares
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about" data-translate="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education-career" data-translate="Education & Career">Education & Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills" data-translate="Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects" data-translate="Projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#languages" data-translate="Languages">Languages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" data-translate="Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#outside-work" data-translate="Outside Work">Outside Work</a>
                </li>
            </ul>
            
            <!-- Language Switcher Dropdown -->
            <div class="language-dropdown ms-3">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="current-flag">🇬🇧</span>
                    <span class="current-language">English</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    <li>
                        <a class="dropdown-item" href="#" data-lang="en">
                            <span class="flag">🇬🇧</span>
                            <span class="language-name">English</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" data-lang="de">
                            <span class="flag">🇩🇪</span>
                            <span class="language-name">Deutsch</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" data-lang="pt">
                            <span class="flag">🇧🇷</span>
                            <span class="language-name">Português</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> 