<!-- Footer Component -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-section">
                    <h4 class="footer-title" data-translate="Sophia Soares">Sophia Soares</h4>
                    <p class="footer-description" data-translate="footer-description">
                        Software Developer passionate about creating meaningful applications and solving complex problems.
                    </p>
                    <div class="social-links">
                        <a href="https://github.com/sophiasoares" target="_blank" class="social-link">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/sophia-ss/" target="_blank" class="social-link">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://www.xing.com/profile/Sophia_SoaresSilva/web_profiles" target="_blank" class="social-link">
                            <i class="fas fa-briefcase"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="footer-section">
                    <h5 class="footer-subtitle" data-translate="Work Info">Work Info</h5>
                    <div class="work-info">
                        <div class="work-item">
                            <i class="fas fa-map-marker-alt"></i>
                            <span data-translate="Germany">Germany</span>
                        </div>
                        <div class="work-item">
                            <i class="fas fa-globe"></i>
                            <span data-translate="Remote and in office work">Remote and in office work</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copyright">
                        © 2025 <span>Sophia Soares Silva</span>. 
                        <span data-translate="All rights reserved">All rights reserved</span>.
                    </p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="made-with">
                        <span data-translate="Made with">Made with</span> 
                        <i class="fas fa-heart"></i> 
                        <span data-translate="and lots of caffeine">and lots of caffeine</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer> 